<article class="rental">
    <Blog::Image src={{@blog.image}} alt="American Flag" />
  <div class="details">
    <h3> {{@blog.title}} </h3>
    <div class="detail owner">
      <span>Owner:</span> {{@blog.owner}}
    </div>
    <div class="detail type">
      <span>Type:</span> {{@blog.type}}
    </div>
    <div class="detail location">
      <span>Location:</span> {{@blog.city}}
    </div>
    <div class="detail bedrooms">
      <span>Number of bedrooms:</span> {{@blog.bedrooms}}
    </div>
  </div>
   <Map
    @lat={{@blog.location.lat}}
    @lng={{@blog.location.lng}}
    @zoom="9"
    @width="150"
    @height="150"
    alt="A map of Grand Old Mansion"
  />
</article>